

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

body{
  min-width: 100%;
  border-color: lightgrey;
}

.wrapper{
  width: 600px;
  border-color: #fff;
  padding: 10px;
  margin: 2px auto;
}

img{
  height: 25px;
  width: 25px;
}

.custom-table{
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.basic{
  background-color: #c1dcb7;
}

.plus{
  background-color: #bad6c8;
}

.delux{
  background-color: #bbd3dc;
}

.pro{
  background-color: #d5e4bc;
}

.custom-table td, .custom-table th{
  width: 150px;
  padding: 8px 5px;
  text-align: center;
  border-right: 2px solid white;
  border-left: 2px sloid white;


}

.custom-table th{
  height: 70px;
  color: #64548f;
  font-size: 28px;

}

i{
  font-size: 28px;
  color: #64548f;
  margin-right: 10px;
}

tbody tr:nth-child(odd), tfoot tr:nth-child(odd){
  background-color: #edf3e2;
}

tfoot tr{
  line-height: 70px;
}

a{
  text-decoration: none;
  background-color: #64548f;
  padding: 20px 25px;
  color: white;
  border-radius:10px ;
  font-size: 18px;
  vertical-align: middle;
}

a:hover{
  background-color: tomato;
  
}

h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

tbody tr:first-child td{
  font-size: 20px;
  color: #3e8624;
}

